@import "partials/animations.scss";
@import "partials/navbar.scss";
@import "partials/heroSection.scss";
@import "partials/chief.scss";

:root{
    --background-color: white;
    --background-light: white;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(255,0,86);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 55px;
    font-size: var(--font-size);
    font-family: 'Mouse Memoirs', sans-serif;;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

.container{
    padding-inline: 25vw;
}

/*==========================App.js============================*/

.main{
    padding-block: 3vw;
}

.section{
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    flex-wrap: wrap;

    .title{
        color: var(--text-color);
        font-size: 3em;
        margin-bottom: .25em;
    }

    .info{
        color: var(--text-light);
        font-size: 1.5em;
        // letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1em;
    }

    .col{
        width: 50%
    }

    .btn{
        border: none;
        outline: none;
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: .5em .75em;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 5px;
        box-shadow: 0 2px 6px grey;
        &:hover{
            box-shadow: 0 1px 3px var(--shadow-color);
        }
    }
}

/*=================================ImproveSkills.jsx=========================*/

.section.improve-skills{
    .col.img{
        img{
            border-radius: 15px;
            width: 100%;
        }
    }

    .col.typography{
        padding-left: 2em;

        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding: .1em 0 .1em .5em;
            line-height: 2em;
            letter-spacing: 1px;
            font-size: larger;
            color: var(--text-light); 
            transform: translateX(100%);
            opacity: 0;

            animation: .7s slideInRight forwards;
            @for $i from 1 through 7 {
                &:nth-child( #{$i} ){
                    animation-delay: #{$i* 0.1}s;
                }
            }
        }
    }
}

/*=================================Quotes.jsx=========================*/

.quote{
    color: var(--text-light);
    width: 100%;
    letter-spacing: 1.5px;
    align-items: center;
}

/*=================================Footer.jsx=========================*/

.footer{
    background-color: #0f0f0f;
    color: white;
    padding-block: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;

    .footer-section{
        p{
            opacity: .5;
            margin-bottom: .9em;
            letter-spacing: 1px;
            cursor: pointer;

            &:hover{
                color: var(--primary-color);
                filter: brightness(200%);
            }
        }
        p.title{
            opacity: 1;
            color: var(--primary-color);
            font-size: 1.5em;
            margin-bottom: 1em;
        }
    }
}

/*===========================media queries===============================*/

@media screen and (max-width: 1580px){
    .container{
        padding-inline: 15vw;
    }
    
}

@media screen and (max-width: 1280px){
    .container{
        padding-inline: 18vw;
    }
    
}

@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 760px){
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skill-item{
        display: inline-block;
        margin: 1em;
    }

    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .container{
        padding-inline: 6vw;
    }

    .footer{
        grid-template-columns: repeat(4, 1fr);

        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;
        }
    }
}

@media screen and (max-width: 480px){
    .container{
        padding-inline: 3vw;
    }
}